.popup__container_image {
  position: relative;

  top: 90px;
  right: 0;
}

@media screen and (max-width: 900px) {
  .popup__container_image {
    top: 136px;
    right: 0;
    width: 240px;
    height: 299px;
  }
}
