.login__popup-box {
    position: absolute;
    left: 25%;
    top: 18%;

    justify-content: center;
    
width: 430px;
height: 330px;
align-self:center;
 display: flex;
 align-items: center;
 flex-direction: column;
background: #FFFFFF;
box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
border-radius: 10px;

    transition: opacity 0.3s ease;

   opacity:0;
   visibility: hidden;
    
  }
  