.page {
  font-family: "Inter", Arial, sans-serif;
  margin: 0 auto;
  width: 100%;
  background-color: #000000;
  border-bottom: 1px solid rgba(84, 84, 84, 0.7);
  min-width: 320px;
  max-width: 880px;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  text-rendering: optimizeLegibility;
  position: relative;
}

@media screen and (max-width: 900px) {
.page   {
    max-width: 320px;
  }
}

.App {
  padding-top: 45px;
  background-color: #000000 !important;

}

